html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a
}

#main-holder {
  text-align: center;
  margin: 50px auto;
  width: 50%;
  display: grid;
  justify-self: center;
  align-self: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 5px 2px black;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 16px;
  padding: 16px;
}

/* place elements */
#Dashboard-header { grid-row: 1; justify-self: center; font-size: 2em; margin-bottom: 10px;}

#view-parking-box { grid-row: 3; justify-self: center; }
#checkin-box      { grid-row: 4; justify-self: center;} 
#checkout-box     { grid-row: 5; justify-self: center;}

#parking-map {
  grid-row: 2;
  justify-self: center;
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#logout-box {
  grid-row: 6; 
  justify-self: end;
  align-self: end;
  display: grid;
}

#view-parking-box-submit {
  width: auto;        /* was 100% */
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#checkin-box-submit {
  width: auto;        /* was 100% */
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#checkout-box-submit {
  width: auto;        /* was 100% */
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#logout-box-submit {
  width: auto;        /* was 100% */
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#loggedIn-text {
  width: 100%;        /* was 100% */
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  justify-self: center;
}
