html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-box {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-box-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#signup-box {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

#signup-box-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 0.04em;
  margin: 0;
  font-weight: normal;
  color: #ff5252;
}

.announcement {
  padding: 25px 50px 70px 100px;
  border: 4px solid #000000;
  background-color: #f8f8f8;
  border-radius: 4px;
}

#eagle-image {
    width: 10%;
}
    
    